- message_modifier = message.user == current_user ? 'message--right' : 'message--left'

.message class=message_modifier data-user-id="#{message.user_id}"
  small.message__meta
    strong.message__author= "#{message.user.username} "
    i.message__time.datetime data-original-date==message.created_at = message.created_at
  p.message__body= message.content
