// Define variables for your color scheme

// For example:
$primary-color: #132a13;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;

$green: #1EDD88;
$dark-green: #40916C;

$gray: #0E0000;

$light-gray: #F4F4F4;
$dark-white: #F8F8F8;

