<% @participants.each do |user| %>
  <div>
    <%= user.first_name %>
    <%= user.last_name %>
  </div>
<% end %>

<div class="row">
    <div class="col-md-6 offset-md-3">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Avatar</th>
              <th scope="col">Name Of Participants</th>
              <th scope="col">Date Join</th>
              <th scope="col">Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <img src="https://img.freepik.com/free-photo/group-happy-african-volunteers-with-garbage-bags-cleaning-area-park-africa-volunteering-charity-people-ecology-concept_627829-351.jpg?w=996&t=st=1699610526~exp=1699611126~hmac=0763d013d8868f54feed4b4d5d54ffe5d531b7ea0bbe5448baead88d29d24a8a"
                          alt="avatar" class="d-flex align-self-center me-3 rounded-circle" width="60" height="60"></th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
