<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @testimonials.each do |testimonial| %>
  <%= testimonial.content %>
<% end %>

<%= link_to "Add testimonial", new_testimonial_path %>
