.banner {
  background-image: url(layered-waves-haikei.svg);
  background-color: #132A13;
  color: #F3F2E7;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
