.form-container {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  align-self: center;
  padding: 0;

  .login-form {
    padding: 50px;
    border-radius: 5px;
  }

  .signup-form {
    padding: 50px;
    border-radius: 5px;
  }
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs {
  width: 100%;
  margin-bottom: 25px;
  height: max-content;
}

.form-extra {
  display: flex;
  justify-content: space-between;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form-next {
    margin-left: auto;
  }
}

.form-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}

.form-col-1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 25px;
}
