.navbar-lewagon {
  background-color: #132A13;
  height: 60px;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand{
  padding: 10px 0;
  height: 100%;

  svg {
    height: 100%;
  }
}
