.heading{
  padding: 20px 0 20px 150px;
  color: var(--Light-Primary, #3A1700);
  font-family: 'Rowdies', sans-serif;
  text-align: left;
  font-size: 56px;
  font-weight: 300;
}

.name {
  font-family: 'Rowdies', sans-serif;
  color: var(--Light-Primary, #3A1700);
  padding-top: 10px;
  font-size: 18px;
  font-weight: 200;
}

.username {
  font-family: Manrope;
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
}
