.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132a13;
  padding: 0 0 50px 0;

  .search-text {
    color: #f3f2e7;
  }
}

.search-container-white {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .search-text {
    color: #132a13;
  }
}

.search-text {
  font-size: 40px;
  font-family: Rowdies;
}

.search-bar {
  display: flex;
  justify-content: center;
  height: 50px;

  form {
    color: #132a13;
    display: flex;
    width: 100%;
  }

  .search-field {
    background-color: #f3f2e7;
    border: none;
    outline: none;
    width: 30vw;
    border-radius: 0 50px 50px 0;
  }
}
