.countdown {
  height: 300px;
  background-color: #fff;
  background-image: url(layered-waves-haikei-to-white.svg);
}

.countdown-container {
  background-color: #f3f2e7;
  transform: translateY(-30%);
  box-shadow: 0 10px 10px -5px rgba($color: #000000, $alpha: 0.25);
  border-radius: 5px;
}

.objective {
  padding: 50px 0;
}

.title {
  color: #009eff;
}

.card-no-border {
  .card-text {
    color: #3a1700;
    opacity: 50%;
  }
}

.stats {
  background-color: #f3f2e7;
  padding: 50px 0;
  box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: 0.1);
}

.stat-container {
  .card-text-stat {
    height: 150px;
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    border-radius: 5px;
    color: #f3f2e7;
    box-shadow: 0 10px 5px -5px rgba($color: #000000, $alpha: 0.25);
    transform: translateY(0px);
    transition: 700ms all ease;
  }

  .card-number > h2 {
    font-size: 60px;
  }

  .card-stat-item,
  .card-number {
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-stat-item > *,
  .card-number > * {
    margin: 0;
    padding: 0;
  }

  .card-stat-item {
    flex-direction: column;
  }
}

.testimonials {
  width: 100%;
  height: 75vh;
  position: relative;
  // overflow: hidden;
}

.caroussel {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-items: center;

  .caroussel-button-right,
  .caroussel-button-left {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items:center;

    i {
      color: #132a13;
      font-size: 40px;
    }
  }
}

ul {
  height: 100%;

  .slide {
    height: 100%;
    display: none;
    inset: 0;
    opacity: 0;
  }

  .active {
    display: block;
    opacity: 1;
  }

  .testimonial {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    grid-gap: 25px;
    place-items: center;
    grid-template-columns: 2fr 1fr;
  }
}

.testimonial-img-container {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  background-color: #132a13;
  background-size: cover;
  background-position: center;
}

.testimonial-text-container {
  height: fit-content;
}

.testimonial-text > * {
  text-align: left;
}
