// Graphical variables
@import "config/variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
